@font-face{
	font-family: museo;
	src: url('Museo.otf');
}

@font-face{
	font-family: 'museo-sans';
	src: url('MuseoSans.otf');
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        color: white;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255,255,255,.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); 
    }
    #dsu-munsoc{
        margin-left: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .desktop h1 {
        font-size: 40px;
    }

    .desktop h2 {
        font-size: 24px;
    }
    .carousel-item img{
        width: 100%;
        height: 300px !important;
    }
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00204A;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#loading-logo {
    max-width: 100%;
    height: auto;
}

#main-content {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#main-content.fade-in {
    opacity: 1;
}

#nvbar {
	font-family: 'museo';
	color: white;
	font-size: 22px;
	padding: 10px;
	transition: background-color 0.5s ease, color 0.5s ease;
	border-radius: 10px;
	margin: 10px;
}

#navbar:hover {
    background-color: #FFD700;
    color: white;
    border-radius: 10px;
}

#navbar_text {
	font-family: 'museo';
	color: white;
	font-size: 22px;
	padding: 10px;
	transition: background-color 0.5s ease, color 0.5s ease;
	border-radius: 10px;
	margin: 10px;
}

#navbar_text:hover {
    background-color: #FFD700;
    color: white;
    border-radius: 10px;
}

main {
	font-family: 'museo-sans';
}

#separator {
    height: 5px;
    width: 20%;
    margin: auto;
    color: #FFD700;
}

div {
	text-align: center;
}

.display-7 {
	font-size: 30px;
}

.carousel-inner img {
    height: 512px; 
    object-fit: contain; 
    background-color: #ffffff; 
    margin: 0 auto; 
}

.footer {
	font-family: 'museo';
	color: white;
	background-color: #00204A;
	text-align: center;
	width: 100%;
	padding: 20px;
    position: relative;
    bottom: 0;
}


.fa {
  padding: 10px;
  padding-bottom: 30px;
  padding-top: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  color: white;
}

.fa-linkedin {
  color: white;
}

#caption {
    color: white;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
    opacity: 0;
}

.carousel-caption h5 {
    margin: 0;
}

.carousel-image {
    transition: filter 0.3s ease;
    max-width: 100%;
    height: auto;
}


.carousel-image:hover {
    filter: blur(0px);
}

.carousel-image:hover + .carousel-caption {
    opacity: 1;
}

.card-title{
    font-size: larger;
    font-weight: bold;
}
/* Initial State */
.scroll-animate {
    opacity: 0;
    transform: translateX(-100px);
    visibility: hidden;
  }

  /* Final State (After Animation) */
.scroll-animate-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    visibility: visible;
}

.options{
    opacity: 0;
    transform: translateX(-100px);
    visibility: hidden;
}

.options-active{
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    visibility: visible;
}

.display-5,.display-5{
    padding-top: 90px;
}

.desktop {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 85vh;
}

.desktop h1{
    font-size: 90px;
}

.desktop h2{
    font-size: 60px;
}





@media(max-width: 900px) {
    .desktop{
        background-image: url("background.png");
        background-repeat: no-repeat;
        display: inline-block;
        overflow: hidden;
    }

}

.card-holder{
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(20px);
    background-color: rgba(70, 70, 70, 0.2);
    padding: 10px;
    display: grid;
}

.col{
    padding: 20px;
}


.cope:hover{
    transform: scale(1.05);
    border: solid 2px;
    border-radius: 6px;
}

.card-holder {
    text-align: left;
}

.textone h1 {
    font-size: 90px;
    color: yellow;
    font-family: 'museo', sans-serif;
}

.textone h2 {
    font-size: 60px;
    color: white;
    font-family: 'museo', sans-serif;
}

.background {
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    min-height: 100%;
    background-position: center;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}

.banner {
    margin-top: 20px;
    background-image: url("munsochomebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.blur-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(129, 109, 237, 0.5);
    z-index: -1;
}

.image_banner {
    flex: 0 0 auto;
    margin-top: 80px;
    margin-bottom: 20px;
}

.header_banner{
    margin-top: 40px;
    text-align: center;
    font-family: 'museo';
    font-weight: bolder;
}

.text_banner,
.edition_banner,
.dates,
.registration,
.brochure {
    text-align: center;
    font-family: 'museo-sans';
    font-weight: bolder;
    margin: 3.5vh;
}

#img1 {
    width: auto;
    height: 200px;
}

.header_banner h1 {
    font-size: 100px;
    color:#FFD700;
}

.text_banner h4 {
    font-size: 30px;
    color: white;
}

.edition_banner h2,
.dates h2{
    font-size: 80px;
    color: white;
}


.registration a,
.brochure a {
    display: inline-block;
    margin-top: 20px; /* Adjust margin as needed */
    padding: 10px 20px;
    margin-top: 3%;
}
hr{
    color: white;
}
@media (max-width: 900px) {
    .background {
        margin-top: 0; /* Adjust margin as needed */
    }

    .banner {
        border: none;
    }

    .image_banner,
    .header_banner,
    .text_banner,
    .edition_banner,
    .dates,
    .registration,
    .brochure {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }

    #img1 {
        width: 100%;
        height: auto;
    }

    .header_banner h1 {
        font-size: 80px; /* Adjust font size as needed */
        margin-top: 30px;
    }

    .text_banner h4 {
        font-size: 20px; /* Adjust font size as needed */
    }

    .edition_banner h2,
    .dates h2,
    .registration h2,
    .brochure h2 {
        font-size: 40px; /* Adjust font size as needed */
    }

    .registration>a{
        display: inline;
        margin-top: 10px;
        margin-left: 65px;
    }
    .brochure>a {
        display: inline;
        margin-top: 10px; /* Adjust margin as needed */
        margin-right: 25px;
    }
    .footer {
	    font-family: 'museo';
	    color: white;
	    background-color: #00204A;
	    text-align: center;
	    width: 100%;
	    padding: 20px;
        position: relative;
    }
}

.about-container{
    margin-top: 100px;
    padding-top: 40px;
}

.about-card{
    margin-bottom: 50px;
    border: none;
}

.about-card {
    transition: transform 0.3s ease;
  }


  .about-card:hover {
    transform: scale(1.05);
  }

  #unsc{
    width: auto;
    height: 300px;
  }

  .unsc-card{
    padding: 10%;
  }

  .committee-container {
    background-color: #00204A;
    padding: 20px; /* Padding to ensure cards do not touch the edge of the container */
    font-family: 'museo'; /* Clean and simple font for the content */
}

/* Styling the card with a box shadow */
.committee-card{
    transition: transform 0.3s ease; /* Smooth transition for transform and shadow */
    position: relative;
    overflow: hidden;
    border: none;
    background: #00204A;
}

/* Transform effect on hover */
.committee-card:hover {
    transform: scale(1.03); /* Scales up the card slightly */
}

/* Ensuring images fit well in the card */
.card-img-top {
    width: 90%; /* Reducing the width to fit the card better */
    margin-top: 10px; /* Adding some space at the top inside the card */
    margin-bottom: 10px; /* Adding some space at the bottom above the title */
}

/* Styling for card titles to make them more prominent */
.card-title {
    text-align: center; /* Centers the title text */
    font-size: 24px; /* Increase the font size for visibility */
}

.agenda-body{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
}

.committee-card:hover .agenda-body{
    right: 0;
}

.committee-card .card-title{
    color: white;
    font-family: 'museo';
}

.agenda-body .card-text{
    padding-top: 40px;
    font-family: 'museo';
    font-weight: bolder;
    font-size: 30px;
    color: white;
    text-shadow: -1px 1px 0 black,
    1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black
}

.prizepool-one, .prizepool-two {
    font-family: 'museo-sans';
    font-weight: bolder;
    background-image: url("img/dsumun/dsumunbackground.jpg");
    background-size: contain; /* Adjusted to 'contain' */
    -webkit-background-clip: text;
    background-position: center; /* Center the background image */
    color: transparent;
}

.prizepool-one {
    font-size: 100px;
}

.prizepool-two {
    font-size: 200px;
}

.list-group {
    border: none;
}

.list-group-item {
    border: none;
    background-color: transparent;
    color: inherit;
    padding: 0.5rem 0;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.queries{
    font-family: 'museo';
    font-size: 50px;
}

.one{
    font-family: 'museo-sans';
    font-size: 30px;
}

.list-group-item{
    font-family: 'museo';
    font-size: 20px;
}

#reg{
    font-family: 'museo';
    font-size: 50px;
}

.btn-outline {
    color: #00204A;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    font-family: 'museo';
    letter-spacing: 0.05em;
    border-radius: 10px;
  }

  .btn-outline:hover,
  .btn-outline:active,
  .btn-outline:focus,
  .btn-outline.active {
    background: #FFD700;
    color: #ffffff;
    border-color: #FFD700;
  }

#reg-button{
    padding: 20px;
}
#br-button{
    padding: 20px;
}

.reg-button{
    text-align: right;
}

.brochure-button{
    text-align: left;
}


.about-container{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    background-position: center;
    background-image: url("img/dsumun/dsumunaboutbg.jpg");
    position: relative;
    z-index: 0;
}

.about-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/dsumun/dsumunaboutbg.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Adjust the blur intensity as needed */
    z-index: -1;
}

@media (max-width: 500px){
    .brochure{
        padding-left: 40px;
        padding-right: 40px;
    }
    main{
        text-align: center;
    }
    .reg-button{
        text-align: center;
        margin-bottom: 20px;
    }
    .brochure-button{
        text-align: center;
    }
    .header_banner{
        font-size: 80px;
        margin-top: 20px;
    }
    /* Center text within about container */
    main {
        text-align: center;
    }

    /* Resize and center images */
    .committee-card img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    /* Resize and center prize pool text */
    .prizepool-one,
    .prizepool-two {
        text-align: center;
        font-size: 70px;
    }

    /* Adjust column sizes for committees */
    .committee-card {
        margin-bottom: 20px;
    }

    /* Limit the width of the about container and center it */
    .about-container {
        max-width: 100%;
        margin: 0 auto;
        text-align: left;
        margin-bottom: 120%;

    }
    .about-card {
        padding: 20px;
    }
    .about-body > p{
        font-size: small;
    }
    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 375px) {
    main{
        text-align: center;
    }
    .reg-button{
        text-align: center;
        margin-bottom: 20px;
    }
    .brochure-button{
        text-align: center;
    }
    /* Center text within about container */
    main {
        text-align: center;
    }

    /* Resize and center images */
    .committee-card img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    /* Resize and center prize pool text */
    .prizepool-one,
    .prizepool-two {
        text-align: center;
        font-size: 70px;
    }

    /* Adjust column sizes for committees */
    .committee-card {
        margin-bottom: 20px;
    }

    /* Limit the width of the about container and center it */
    .about-container {
        max-width: 100%;
        margin: 0 auto;
        text-align: left;
        margin-bottom: 300%;

    }
    .about-card {
        padding: 20px;
    }
    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

}

@media (min-width: 750px) and (max-width: 1050px) {
    main{
        text-align: center;
    }
    .reg-button{
        text-align: center;
        margin-bottom: 20px;
    }
    .brochure-button{
        text-align: center;
    }
    /* Center text within about container */
    main {
        text-align: center;
    }

    /* Resize and center prize pool text */
    .prizepool-one,
    .prizepool-two {
        text-align: center;
        font-size: 70px;
    }

    /* Adjust column sizes for committees */
    .committee-card {
        margin-bottom: 20px;
    }

    /* Limit the width of the about container and center it */
    .about-container {
        max-width: 100%;
        margin: 0 auto;
        text-align: left;
        margin-bottom: 10%;

    }
    .about-card {
        padding: 20px;
    }
    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .committees-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .committee-card {
        flex-basis: calc(50% - 20px); /* Adjust margin as needed */
        margin-bottom: 20px;
    }

    .committee-card img {
        width: 100%; /* Ensures images fill their containers */
        height: auto;
    }

}

.home-container{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    background-position: center;
    background-image: url("cope1_bg.jpg");
    position: relative;
    z-index: 0;
}

.home-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("cope1_bg.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Adjust the blur intensity as needed */
    z-index: -1;
}

.home-card{
    margin-bottom: 50px;
    border: none;
    transition: transform 0.3s ease;
}
  .home-card:hover {
    transform: scale(1.05);
  }

  @media (max-width:500px) {
    .home-container {
        max-width: 100%;
        margin: 0 auto;
        text-align: left;
        margin-bottom: 40%;

    }
    .home-card {
        padding: 20px;
    }
    .home-body>p{
        font-size: small;
    }
    #munbody{
        overflow-x: hidden;
    }
    .about-us,
    .about-dsu {
        text-align: center;
    }
  }

  @media (max-width:375px) {
    .home-container {
        max-width: 100%;
        margin: 0 auto;
        text-align: left;
        margin-bottom: 160%;

    }
    .home-card {
        padding: 20px;
    }
  }

  .dsu-container{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    position: relative;
    z-index: 0;
}

.aboutus-container{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    position: relative;
    z-index: 0;
}

#background-guide{
    background-color: #FFD700;
    font-size: 20px;
}

.itinerary-container {
    padding: 0 15px;
}

.itinerary-row {
    display: flex;
    flex-wrap: wrap;
}

.itinerary-column {
    flex: 0 0 100%;
    max-width: 100%;
}

.itinerary-column {
    flex: 0 0 50%;
    max-width: 50%;
}

.itinerary-column {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.itinerary-sub-header {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.table-cell {
    font-size: 30px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'museo';
}

.table-cell:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.itinerary-header{
    background-color: #00204A;
    color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .itinerary-sub-header {
        font-size: 50px;
    }

    .table-cell {
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    .itinerary-sub-header {
        font-size: 40px;
    }

    .table-cell {
        font-size: 25px;
        font-family: 'museo';
    }

    .itinerary-row {
        flex-wrap: wrap;
    }

    .itinerary-column {
        padding: 5px;
    }

    .day-one-table {
        width: 100%;
    }

    .itinerary-column {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-12 .table-cell {
        padding: 10px;
        font-size: 18px;
    }
}

/* Ensure specific padding and font-size for smaller screens */
@media (max-width: 576px) {
    .itinerary-column {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-6:nth-child(odd) .table-cell {
        padding: 7.2px;
        font-size: 17px;
    }

    .col-md-6:nth-child(even) .table-cell {
        padding: 5px;
        font-size: 20px;
    }

    .table-cell {
        padding: 10px;
        font-size: 18px;
    }
}







