<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='logo_white_notext.svg') }}" type="image/svg">
    <title>DSU MUNSOC</title>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--Icon Library-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">

    <style>
        body {
            padding-top: 80px;
        }
    </style>
    <script>
		document.addEventListener("DOMContentLoaded", function() {
			const observer = new IntersectionObserver((entries) => {
				entries.forEach(entry => {
					if(entry.isIntersecting) {
						entry.target.classList.add('scroll-animate-active');
						if (entry.target.classList.contains('options')) {
							entry.target.classList.add('options-active');
						}
					} else {
						entry.target.classList.remove('scroll-animate-active');
						if (entry.target.classList.contains('options')) {
							entry.target.classList.remove('options-active');
							// Reset transition delay when element is scrolled out
							entry.target.style.transitionDelay = "";
						}
					}
				});
			}, { threshold: 0.1 });

			document.querySelectorAll('.scroll-animate, .options').forEach((section) => {
				observer.observe(section);
			});

			const options = document.querySelectorAll('.options');
			options.forEach((option, index) => {
				// Calculate transition delay based on index
				const delay = (index + 1) * 1; // Adjust timing as needed
				option.style.transitionDelay = `${delay}s`;
			});
		});

        window.addEventListener('scroll', function() {
            var scrollPosition = window.scrollY;
            var backgroundPosition = 'center ' + (-scrollPosition / 2) + 'px'; // Adjust the divisor to control the speed of movement
            document.querySelector('.prizepool-one').style.backgroundPosition = backgroundPosition;
            document.querySelector('.prizepool-two').style.backgroundPosition = backgroundPosition;
        });


		</script>

</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #00204A;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="margin-left: 50px; padding: 5px">
            <img src="{{ url_for('static', filename='logo_white_notext.svg') }}" height="50" width="50">
        </a>
        <a class="navbar-brand" href="#" style="font-family: 'museo'; color: white; font-size: 22px; padding: 5px;">DSU MUNSOC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" style="text-align: left;">
                    <a class="nav-link" href="/" id="navbar_text">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events" id="navbar_text" style="text-align: left;">Events </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/the-secretariat" id="navbar_text" style="text-align: left;">The Secretariat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dsumun" id="navbar_text" style="text-align: left;">DSUMUN</a>
                </li>
            </ul>
            <span class="navbar-text d-none" style="font-family: 'museo'; color: white; padding: 2px; font-size: 22px;">
                The Model United Nations Society
            </span>
        </div>
    </div>
</nav>

<main>
    <div class="container">
        <div class="row about-container">
            <div class="col-12 scroll-animate">
                <h1 style="font-weight: bolder; font-family: museo-sans; color: white; font-size: 60px;">About DSUMUN</h1>
            </div>
            <br>
            <br>
            <div class="col-12 about-content">
                <div class="card about-card w-75 mx-auto scroll-animate">
                    <div class="card-body about-body scroll-animate">
                      <p class="card-text" style="font-family: 'museo-sans';">Our inaugural Model UN Conference, DSUMUN Edition 1,
                        harmonizes with our ideas, and extends a warm invitation to both
                        seasoned delegates and newcomers alike. Against the backdrop of
                        contemporary events, we are committed to addressing urgent
                        issues across four dynamic committees—the UNSC, DISEC, Lok
                        Sabha, and the WHO—with unwavering dedication and
                        conscientiousness.</p>
                      <p class="card-text" style="font-family: 'museo-sans';">MUN simulations engage thousands of students each year in
                        developing public speaking, writing, and research skills while
                        learning about the principles of the UN. In addition, they often act
                        as the first entry point into international affairs and concepts—
                        fostering empathy and understanding, championing human dignity
                        and equality, promoting progress and prosperity, and upholding
                        justice and accountability.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
        <br>
        <br>
        <div class="container-md scroll-animate">
            <img src="{{ url_for('static', filename='separator2.png') }}" width=50px height=50px>
        </div>
        <br>
        <br>
        <div class="container-fluid committee-container">
            <div class="contianer-header scroll-animate">
                <h1 style="font-weight: bolder; font-family: museo; color: white; margin-bottom: 60px; margin-top: 30px;">Our Committees</h1>
            </div>
            <div class="row committees-container">
                <div class="col-12 col-md-3">
                    <div class="card committee-card mb-3 scroll-animate">
                        <img src="{{ url_for('static', filename='img/dsumun/UNSC2.png') }}" class="card-img-top mx-auto" alt="UNSC" id="unsc">
                        <h1 class="card-title" style="font-size: 30px;">UNSC</h1>
                        <div class="card-body agenda-body">
                            <h1 class="card-text" style="font-size: 50px;">Agenda</h1>
                            <p class="card-text">Turkey’s Aggression
                                in Syria and Iraq</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card committee-card mb-3 scroll-animate">
                        <img src="{{ url_for('static', filename='img/dsumun/DISEC2.png') }}" class="card-img-top mx-auto" alt="UNSC" id="unsc">
                        <h1 class="card-title" style="font-size: 30px;">DISEC</h1>
                        <div class="card-body agenda-body">
                            <h1 class="card-text" style="font-size: 50px;">Agenda</h1>
                            <p class="card-text"> Cyber Crime Threats
                                During Elections</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card committee-card mb-3 scroll-animate">
                        <img src="{{ url_for('static', filename='img/dsumun/WHO2.png') }}" class="card-img-top mx-auto" alt="UNSC" id="unsc">
                        <h1 class="card-title" style="font-size: 30px;">WHO</h1>
                        <div class="card-body agenda-body">
                            <h1 class="card-text" style="font-size: 50px;">Agenda</h1>
                            <p class="card-text">Patent Pooling for
                                Medicines</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card committee-card mb-3 scroll-animate">
                        <img src="{{ url_for('static', filename='img/dsumun/Lok Sabha2.png') }}" class="card-img-top mx-auto" alt="UNSC" id="unsc">
                        <h1 class="card-title" style="font-size: 30px;">Lok Sabha</h1>
                        <div class="card-body agenda-body">
                            <h1 class="card-text" style="font-size: 50px;">Agenda</h1>
                            <p class="card-text"> Manipur Ethnic
                                Violence</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container-md scroll-animate">
            <img src="{{ url_for('static', filename='separator2.png') }}" width=50px height=50px>
        </div>
        <br>
        <br>
        <div class="row ">
            <div class="col-12 col-md-12 mx-auto scroll-animate">
                <h1 class="prizepool-one">PRIZEPOOL </h1>
                <h1 class="prizepool-two">Rs.25,000+</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 scroll-animate reg-button">
                <button class="btn btn-outline" id="reg-button">Register Here</button>
            </div>
            <div class="col-12 col-md-6 scroll-animate brochure-button">
                <button class="btn btn-outline" id="br-button">Brochure</button>
            </div>
        </div>
        <br>
        <br>
        <div class="container-md scroll-animate">
            <img src="{{ url_for('static', filename='separator2.png') }}" width=50px height=50px>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-12 col-md-12 mx-auto">
                <h1 class="queries">Contact</h1>
                <ul class="list-group">
                    <li class="list-group-item"><span style="padding-right: 10px;"><i class="bi bi-telephone-fill"></i></span>9620564990</li>
                    <li class="list-group-item"><span style="padding-right: 10px;"><i class="bi bi-telephone-fill"></i></span>7022179550</li>
                  </ul>
            </div>
        </div>
        <br>
        <br>
</main>

<footer class="footer">
    <div class="display-8">© 2024 Copyright: DSU Model United Nations Society</div>
    <div class="display-8">"There is nothing stronger than those two: Patience & Time"</div>
    <a class="fa fa-linkedin fa-lg" style="padding-right: 10px;" href="https://in.linkedin.com/company/dsu-model-united-nations-society"></a>
    <a class="fa fa-instagram fa-lg" href="https://www.instagram.com/dsu_munsoc/?igsh=MWwydW53a28yeTIyYw%3D%3D"></a>
    <br>
    <img src="{{ url_for('static', filename='logo_white.png') }}" width="5%" height="5%">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</footer>
</body>
</html>
