<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="{{ url_for('static', filename='logo_white_notext.svg') }}" type="image/svg">
		<title>DSU MUNSOC</title>
		<!--Bootstrap-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<!--Icon Library-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script>
		document.addEventListener("DOMContentLoaded", function() {
			const observer = new IntersectionObserver((entries) => {
				entries.forEach(entry => {
					if(entry.isIntersecting) {
						entry.target.classList.add('scroll-animate-active');
						if (entry.target.classList.contains('options')) {
							entry.target.classList.add('options-active');
						}
					} else {
						entry.target.classList.remove('scroll-animate-active');
						if (entry.target.classList.contains('options')) {
							entry.target.classList.remove('options-active');
							// Reset transition delay when element is scrolled out
							entry.target.style.transitionDelay = "";
						}
					}
				});
			}, { threshold: 0.1 });

			document.querySelectorAll('.scroll-animate, .options').forEach((section) => {
				observer.observe(section);
			});

			const options = document.querySelectorAll('.options');
			options.forEach((option, index) => {
				// Calculate transition delay based on index
				const delay = (index + 1) * 1; // Adjust timing as needed
				option.style.transitionDelay = `${delay}s`;
			});
		});

		</script>
		<style>
			@media only screen and (max-width: 768px) {
				.desktop h1,
				.desktop h2 {
					font-size: 30px !important;
				}
			}
		</style>

	</head>

	<body>

		<div id="loading-screen">
        	<img src="{{ url_for('static', filename='logo_white.png') }}" alt="MUNSOC Logo" id="loading-logo" width="200" height="200">
    	</div>

    	<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #00204A;">
			<div class="container-fluid">
				<a class="navbar-brand" id="dsu-logo" href="/">
					<img src="{{ url_for('static', filename='logo_white_notext.svg') }}" height="50" width="50">
				</a>
				<a class="navbar-brand" id="dsu-munsoc" href="#" style="font-family: 'museo'; color: white; font-size: 22px;">DSU MUNSOC</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item" style="text-align: left;">
							<a class="nav-link" href="/" id="navbar_text">Home </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/dsumun" id="navbar_text" style="text-align: left;">DSUMUN</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/events" id="navbar_text" style="text-align: left;">Events </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/the-secretariat" id="navbar_text" style="text-align: left;">The Secretariat</a></a>
						</li>
					</ul>
					<span class="navbar-text d-none" style="font-family: 'museo'; color: white; padding: 2px; font-size: 22px;">
						The Model United Nations Society
					</span>
				</div>
			</div>
		</nav>


			<main>

				<div>
				<hr id="separator" style="width: 100%;">
				</div>

				<br>

				<div class="background"></div>
    			<div class="banner">
					<div class="blur-overlay">
        			<div class="row">
            			<div class="col-12 col-md-12 d-flex flex-column justify-content-center align-items-center banner-content">
                			<div class="header_banner" style="font-weight: bolder;">
                    			<h1>DSUMUN</h1>
                			</div>
                			<div class="text_banner">
                    			<h4>Dayananda Sagar University</h4>
                    			<h4>Model United Nations</h4>
                			</div>
                			<div class="edition_banner">
                    			<h2>Edition I</h2>
                			</div>
                			<div class="dates">
                    			<h2>24th - 25th May</h2>
                			</div>
            			</div>
					</div>
					<div class="regsoon" style="margin: 1%; text-align: center; font-family: 'museo-sans'; font-weight: bold; color: white;">
						<h1>Registration Opens Soon</h1>
					</div>
					<div class="row">
            			<div class="col-12 col-md-12 d-flex justify-content-center">
                			<!--<div class="registration" style="margin: 1%;">
                    			<a class="btn btn-outline" type="button" style="padding: 20px;">Register</a>
                			</div>-->
                			<div class="brochure" style="margin: 1%; padding-bottom: 30px;">
                    			<a class="btn btn-outline" type="button" style="padding: 20px;" href="https://drive.google.com/file/d/1GoDWElQJBUS9YHKEgKUlat3ipBlED720/view?usp=sharing">Brochure</a>
                			</div>
            			</div>
        			</div>
				</div>
    			</div>


				<div class="container-md scroll-animate">
					<img src="{{ url_for('static', filename='separator2.png') }}" width=50px height=50px>
				</div>

				<div class="container-md my-5 scroll-animate homecarousel">
					<h2 class="display-5" style="padding-top: 0px;">Our Gallery</h2>
					<div class="col-12 col-md-7 mx-auto" id="container-md">
						<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img src="{{ url_for('static', filename='img/carousel4.jpg') }}" class="d-block w-100 carousel-image" alt="...">
									<div class="carousel-caption d-none d-md-block">
										<h5 id="caption">COPE Edition I: The Conference of Public Exchange</h5>
									</div>
								</div>
								<div class="carousel-item">
									<img src="{{ url_for('static', filename='img/carousel1.jpg') }}" class="d-block w-100 carousel-image" alt="...">
									<div class="carousel-caption d-none d-md-block">
										<h5 id="caption">The Society at Our Inaugural Event</h5>
									</div>
								</div>
								<div class="carousel-item">
									<img src="{{ url_for('static', filename='img/carousel2.jpeg') }}" class="d-block w-100 carousel-image" alt="...">
									<div class="carousel-caption d-none d-md-block">
										<h5>The Society at PESUECC MUN</h5>
									</div>
								</div>
								<div class="carousel-item">
									<img src="{{ url_for('static', filename='img/carousel3.jpeg') }}" class="d-block w-100 carousel-image" alt="...">
									<div class="carousel-caption d-none d-md-block">
										<h5>The Society at BITS Goa MUN</h5>
									</div>
								</div>
							</div>
							<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>
					</div>
				</div>
				<div class="container-md scroll-animate">
					<img src="{{ url_for('static', filename='separator2.png') }}" width=50px height=50px>
				</div>
				<br>
				<br>
				<div class="container">
					<div class="row home-container">
						<div class="col-12 scroll-animate">
							<h1 style="font-weight: bolder; font-family: museo-sans; color: white; font-size: 60px; padding-top: 60px;">COPE Edition I</h1>
						</div>
						<br>
						<br>
						<div class="col-12 col-md-12 home-content">
							<div class="card home-card w-75 mx-auto scroll-animate">
								<div class="card-body home-body scroll-animate">
									<p class="card-text" style="font-family: 'museo-sans'; font-weight: bolder;">22nd - 23rd March 2024</p>
								  </div>
								<div class="card-body home-body scroll-animate">
								  <p class="card-text" style="font-family: 'museo-sans';">The COPE Edition I embodies our cherished ideals. Through
									formal debate, our society provides an unimpeded avenue for diverse
									ideologies, fostering a platform where opinions soar freely. Here, bias takes a backseat, and merit alone prevails. This inaugural event
									welcomes participants across three committees, engaging in
									discussions on highly politicized and pressing agendas.</p>
								</div>
							  </div>
						</div>
					</div>
				</div>
				<br>
				<br>
				<div class="container-md scroll-animate">
					<img src="{{ url_for('static', filename='separator2.png') }}" width=50px height=50px>
				</div>
				<br>
				<br>
				<div class="container">
					<div class="row aboutus-container">
						<div class="col-12 scroll-animate">
							<h1 style="font-weight: bolder; font-family: museo-sans; color: black; font-size: 60px;">About Us</h1>
						</div>
						<br>
						<br>
						<div class="col-12 col-md-12 home-content">
							<div class="card home-card w-75 mx-auto scroll-animate">
								<div class="card-body home-body scroll-animate">
								  <p class="card-text" style="font-family: 'museo-sans';">Established in 2023, the Model United Nations Society at
									Dayananda Sagar University is committed to raising awareness about
									global events and influential personalities. Our mission centers on
									cultivating indispensable skills—diplomacy, leadership, research, and
									eloquence—crucial in navigating today's complex world.</p>
								</div>
								<div class="card-body home-body scroll-animate">
								  <p class="card-text" style="font-family: 'museo-sans';">
									In an era fraught with challenges, it is imperative to develop a
									perspective that accommodates all parties. Attacks on free speech,
									relics of a bygone era, must be consigned to history. As torchbearers
									of the next generation, we bear the responsibility of safeguarding
									principles bestowed upon us by democratic institutions, a free press,
									and international cooperation.</p>
								</div>
							  </div>
						</div>
					</div>
				</div>

				<div class="container-md scroll-animate">
					<img src="{{ url_for('static', filename='separator2.png') }}" width=50px height=50px>
				</div>
				<br>
				<br>
				<br>
				<div class="container">
					<div class="row dsu-container">
						<div class="col-12 scroll-animate">
							<h1 style="font-weight: bolder; font-family: museo-sans; color: black; font-size: 60px;">About Dayananda Sagar University</h1>
						</div>
						<br>
						<br>
						<div class="col-12 col-md-12 home-content">
							<div class="card home-card w-75 mx-auto scroll-animate">
								<div class="card-body home-body scroll-animate">
								  <p class="card-text" style="font-family: 'museo-sans';">In the six decades since the establishment of Dayananda Sagar Institutions in 1960, the group has grown into one of India’s leading educational institutions today. This growth is the result of the institutions focused effort to advance knowledge and educate students in all disciplines, from medicine to engineering, and law to commerce. The pursuit of excellence, fairness, leadership, and integrity & transparency are values that drive our institutions.</p>
								</div>
							  </div>
						</div>
					</div>
				</div>

				<br><br><br>

			</main>

			<footer>
				<div class="display-8">© 2024 Copyright: DSU Model United Nations Society</div>
				<div class="display-8">"There is nothing stronger than those two: Patience & Time"</div>
				<a href="https://www.linkedin.com/company/dsu-model-united-nations-society">
					<i class="fa fa-linkedin fa-lg" style="padding-right: 10px;"></i>
				</a>
				<a href="https://www.instagram.com/dsu_munsoc/?igshid=MWwydW53a28yeTIyYw%3D%3D">
					<i class="fa fa-instagram fa-lg"></i>
				</a>
				<br>
				<img src="{{ url_for('static', filename='logo_white.png') }}" width="5%" height="5%">
			</footer>
			
						


		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<!--Transition Script-->
		<script>
		    document.addEventListener("DOMContentLoaded", function () {
		        // Simulate loading time
		        setTimeout(function () {
		            // Hide loading screen with fade-out animation
		            var loadingScreen = document.getElementById("loading-screen");
		            loadingScreen.style.transition = "opacity 1s ease-in-out";
		            loadingScreen.style.opacity = "0";

		            // Show main content after the fade-out animation
		            setTimeout(function () {
		                loadingScreen.style.display = "none";
		                document.getElementById("main-content").classList.add("fade-in");
		            }, 500);
		        }, 1000);
		    });
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/js/font-awesome.min.js"></script>
	</body>
</html>